# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Data Types Exercise 4.2 - Ivan Dimitrov

In [6]:
# Step 7: Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables.

In [7]:
a = 50
b = 50

In [8]:
a+b

100

In [9]:
b = b+50

In [10]:
print(b)

100

In [12]:
b = b+50

In [13]:
b - a

100

In [14]:
c = b-a

In [15]:
print(c)

100

In [17]:
# Step 8: Code 2 floating-point variables and divide them by each other.

In [20]:
e=10.50
d=50.50

In [21]:
f = d/e

In [22]:
print(f)

4.809523809523809

In [23]:
# Step 9: Construct a short word made of separate strings (youâ€™ll need to concatenate some strings!).

In [25]:
g='basket'
h='ball'

In [26]:
i =g+h

In [27]:
print(i)

basketball

In [28]:
g+h

'basketball'

In [29]:
# Step 10: Construct 2 short sentences made of separate strings.

In [30]:
j='Hello, '
k='World!'

In [31]:
j+k

'Hello, World!'

In [32]:
l='Oh! '
m='Hi, Mark'

In [33]:
l+m

'Oh! Hi, Mark'

In [34]:
n='Once upon a time there was a little lady. '
o='Her name was Ursula'

In [35]:
n+o

'Once upon a time there was a little lady. Her name was Ursula'

In [36]:
# Bonus Task: include a command that makes a string appear 100 times.

In [37]:
z='Fire!'

In [38]:
z*100

'Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!Fire!'